body {
  font-family: 'Helvetica', sans-serif;
  background-color: #EFECCA;
}

section {
  width: 300px;
  height: 350px;
  margin: auto;
  border: 1px solid grey;
  padding: 10px;
}

h1 {
  color: #C03000;
}

h2 {
  color: #4BB5C1;
}

a {
  color: #96CA2D;
  text-decoration: none;
}

form {
  position: relative;
}

input {
  border-radius: 5px;
  position: absolute;
  right: 0;
  width: 70%;
}

input[type="submit"] {
  background-color: red;
  color: white;
}
